<p>Create Customer</p>

<table>
<tr><td><input type="text" ng-model="firstName" placeholder="Enter your first name..."></td></tr>
<tr><td><input type="text" ng-model="lastName" placeholder="Enter your last name..."></td></tr>
<tr><td><input type="email" ng-model="email" placeholder="Enter your email..."></td></tr>
<tr><td><input type="text" ng-model="address1" placeholder="Enter your street..."></td></tr>
<tr><td><input type="text" ng-model="address2" placeholder="Enter your address2..."></td></tr>
<tr><td><input type="text" ng-model="zip" placeholder="Enter your zip code..."></td></tr>
<tr><td><input type="text" ng-model="city" placeholder="Enter your city..."></td></tr>
<tr><td><input type="text" ng-model="country" placeholder="Enter your country..."></td></tr>
<tr><td><input type="tel" ng-model="phoneNumber" placeholder="Enter your phone number..."></td></tr>
</table>