<p>Create Customer</p>

<form autocomplete='on' novalidate>
    <input type="text" ng-model="customer.firstName" placeholder="Enter your first name..." autofocus><br>
    <input type="text" ng-model="customer.lastName" placeholder="Enter your last name..."><br>
    <input type="email" ng-model="customer.email" placeholder="Enter your email..."><br>
    <input type="text" ng-model="customer.address.address1" placeholder="Enter your street..."><br>
    <input type="text" ng-model="customer.address.address2" placeholder="Enter your address2..."><br>
    <input type="text" ng-model="customer.address.zip" placeholder="Enter your zip code..."><br>
    <input type="text" ng-model="customer.address.city" placeholder="Enter your city..."><br>
    <input type="text" ng-model="customer.address.country" placeholder="Enter your country..."><br>
    <input type="tel" ng-model="customer.phone" placeholder="Enter your phone number..."><br>
    <button ng-click="save(customer)">Save</button>
</form>

<Pre>
    {{customer | json}}
</Pre>